In [1]:
import pandas as pd
import json
from collections import defaultdict
import pickle

In [13]:

def calculate_stock_occurrences(stock_data):
    stock_occurrences = defaultdict(int)

    daily_averages = []
    
    for i in range(len(stock_data)):
        current_stocks = set(stock_data[i])
        for j in range(i+1, len(stock_data)):
            common_stocks = current_stocks & set(stock_data[j])
            for stock in common_stocks:
                stock_occurrences[stock] += 1
    
        total_occurrences = sum(stock_occurrences.values())
        
        if len(current_stocks) > 0:
            daily_average = total_occurrences / len(current_stocks)
            daily_averages.append(daily_average)
        else:
            daily_averages.append(0)
        
        stock_occurrences.clear()


    return daily_averages

In [14]:
data = pd.read_excel('换仓股票名称.xlsx')
for index, row in data.iterrows():
    lst = eval(row['stocks'])
    json_str = json.dumps(lst)
    lst_from_json = json.loads(json_str)
    data.at[index, 'stocks'] = lst_from_json
data

     Unnamed: 0                                             stocks
0    2013-01-04                                                 []
1    2013-01-07                                                 []
2    2013-01-08                                                 []
3    2013-01-09                                                 []
4    2013-01-10                                                 []
...         ...                                                ...
2632 2023-11-06  [430198.BJ, 430510.BJ, 831039.BJ, 831726.BJ, 8...
2633 2023-11-07  [430198.BJ, 831039.BJ, 831726.BJ, 832145.BJ, 8...
2634 2023-11-08  [430198.BJ, 830832.BJ, 831039.BJ, 831726.BJ, 8...
2635 2023-11-09  [430198.BJ, 831726.BJ, 831856.BJ, 832145.BJ, 8...
2636 2023-11-10  [430198.BJ, 430510.BJ, 831726.BJ, 831768.BJ, 8...

[2637 rows x 2 columns]

In [ ]:
data_frame={}
all_data=[]
i=0
for index, row in data.iterrows():
    if row['stocks'] == []:
        i+=1
        continue
    else:
        # print(row['stocks'])
        all_data.append(row['stocks'])
        # daily_averages = calculate_stock_occurrences(row['stocks'])
        # print(row[0].date())
        # print(daily_averages)
        i+=1
        # data_frame[row[0].date()]=daily_averages
# print(all_data[])
daily_averages = calculate_stock_occurrences(all_data)
print(daily_averages)
print(i)

In [16]:
len(daily_averages)

2626

In [11]:
with open('data_frame.pkl', 'wb') as file:
    pickle.dump(data_frame, file)

In [ ]:
pickle_in = open('data_frame.pkl', 'rb')
data_frame = pickle.load(pickle_in)
data_frame